<div class="vernav2 iconmenu">
    <ul>
        {% if request.session.login_user.code == 'admin' %}
            <li><a href="#role_menu" class="editor">系统管理</a>
                <span class="arrow"></span>
                <ul id="role_menu">
                    <li><a href="{% url 'y:s' %}">仓库配置</a></li>
                    <li><a href="{% url 'y:r' %}">角色管理</a></li>
                    <li><a href="editor.html">系统用户</a></li>
                    <li><a href="{% url 'y:source' %}">资料展示</a></li>
                </ul>
            </li>

            <li><a href="elements.html" class="gallery">文件管理</a></li>
            <li><a href="elements.html" class="calendar">图片链接</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}

        {% if request.session.login_user.code == 's_admin' %}
            <li><a href="elements.html" class="gallery">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
            <li><a href="elements.html" class="elements">系统配置</a></li>

        {% endif %}

        {% if request.session.login_user.code == 'm_admin' or request.session.login_user.code == 'o_admin' %}
            <li><a href="elements.html" class="gallery">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
            <li><a href="elements.html" class="elements">系统配置</a></li>

        {% endif %}

        {% if request.session.login_user.code == 'daogou_admin' %}
            {#                导购管理员  #}
            <li><a href="elements.html" class="gallery">导购人员</a></li>
            <li><a href="elements.html" class="calendar">导购商品</a></li>
            <li><a href="elements.html" class="calendar">导购数量</a></li>
            <li><a href="elements.html" class="calendar">导购订单</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        {% if request.session.login_user.code == 'user_admin' %}
            {#                用户管理员 #}
            <li><a href="elements.html" class="gallery">用户人数</a></li>
            <li><a href="elements.html" class="calendar">用户优惠券</a></li>
            <li><a href="elements.html" class="calendar">用户信息</a></li>
            <li><a href="elements.html" class="calendar">用户浏览足迹</a></li>
            <li><a href="elements.html" class="addons">用户交易记录</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        {% if request.session.login_user.code == 'member_admin' %}
            {#                会员管理员 #}
            <li><a href="elements.html" class="gallery">会员人数</a></li>
            <li><a href="elements.html" class="calendar">会员信息</a></li>
            <li><a href="elements.html" class="calendar">会员等级</a></li>
            <li><a href="elements.html" class="calendar">会员积分</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        {% if request.session.login_user.code == 'order_admin' %}
            {#                订单管理员  #}
            <li><a href="elements.html" class="gallery"></a></li>
            <li><a href="elements.html" class="calendar">订单商品</a></li>
            <li><a href="elements.html" class="calendar">订单数量</a></li>
            <li><a href="elements.html" class="calendar">订单种类</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        {% if request.session.login_user.code == 'product_admin' %}
            {#                商品管理员  #}
            <li><a href="elements.html" class="gallery">商品分类</a></li>
            <li><a href="elements.html" class="calendar">商品标签</a></li>
            <li><a href="elements.html" class="calendar">商品信息</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}

        {% if request.session.login_user.code == 'cart_admin' %}
            {#                购物车管理员  #}
            <li><a href="elements.html" class="gallery">购物车信息</a></li>
            <li><a href="elements.html" class="calendar">购物车商品标签</a></li>
            <li><a href="elements.html" class="calendar">购物车商品数量</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}

        {% if request.session.login_user.code == 'server_admin' %}
            {#                服务管理员 #}
            <li><a href="elements.html" class="gallery">服务人员</a></li>
            <li><a href="elements.html" class="calendar">形象顾问</a></li>
            <li><a href="elements.html" class="calendar">店铺查询</a></li>
            <li><a href="elements.html" class="calendar">衣橱整理</a></li>
            <li><a href="elements.html" class="calendar">陪同购物</a></li>
            <li><a href="elements.html" class="addons">我的分享</a></li>
            <li><a href="elements.html" class="elements">公告管理</a></li>
            <li><a href="elements.html" class="elements">信息审核</a></li>
        {% endif %}


        <a class="togglemenu"></a>
        <br/><br/>
</div><!--leftmenu-->





